@{ ViewData["Title"] = "Home Page"; }
@model WebMoney.ViewModels.ProfileIndexViewModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>text-align</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Модальный (фон) */
        .modal {
            display: none; /* Скрыто по умолчанию */
            position: fixed; /* Оставаться на месте */
            z-index: 1; /* Сидеть на вершине */
            padding-top: 100px; /* Расположение коробки */
            left: 0;
            top: 0;
            width: 100%; /* Полная ширина */
            height: 100%; /* Полная высота */
            overflow: auto; /* Включите прокрутку, если это необходимо */
            background-color: rgb(0,0,0); /* Цвет запасной вариант  */
            background-color: rgba(0,0,0,0.4); /*Черный с непрозрачностью */
        }

        /* Модальное содержание */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* Кнопка закрытия */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .getClose {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .earnClose {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
             color: #000;
             text-decoration: none;
             cursor: pointer;
        }
        .earnClose:hover,
        .earnClose:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        .getClose:hover,
        .getClose:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="myModal" class="modal">

        <!-- Модальное содержание -->
        <div class="modal-content">
            <form method="post">
                <span class="close">&times;</span>
                <Label>Номер кошелька</Label>
                <input type="text" value="" id="walletNumber" required />
                <Label>Сумма перевода</Label>
                <input type="number" value="" id="moneyCount" required min="1" />
                <a id="sendDataBtn" class="btn btn-primary">Сделать перевод</a>
            </form>


        </div>
    </div>
    <div id="myModalGetMoney" class="modal">
        <div class="modal-content">
            <form method="post">
                <span id="closeGetMoney" class="getClose">&times;</span>
                <Label>Сумма для снятия</Label>
                <input type="number" value="" id="getMoneyCount" required min="1" />
                <a id="getMoneyDataBtn" class="btn btn-primary">Снять деньги</a>
            </form>


        </div>
    </div>
    <div id="earnMoneyModal" class="modal">
        <div class="modal-content">
            <form method="post">
                <span id="closeEarnMoney" class="earnClose">&times;</span>
                <Label>Сумма для снятия</Label>
                <input type="number" value="" id="earnMoneyCount" required min="1" />
                <a id="earnMoneyDataBtn" class="btn btn-primary">Пополнить счёт</a>
            </form>


        </div>
    </div>
    <div class="container">
        <h3 class="pb-5">Профиль пользователя @Model.User.UserName</h3>
        <div class="card">
            <div class="card-header">
                Номер счёта: @Model.Wallet.UniqueNumber
            </div>
            <div class="card-body">
                <h5 id="moneyInfo" class="card-title">Денег на счету: <span id="myMoney">@Model.Wallet.MoneyCount</span> $</h5>
                <p class="card-text">
                    <a id="earnMoneyBtn" class="btn btn-primary">Пополнить</a>
                    <a id="getMoneyBtn" class="btn btn-primary">Снять</a>
                    <a id="transferBtn" class="btn btn-primary">Перевести</a>
                </p>
                <a  asp-controller="Bank" asp-action="History" class="btn btn-primary">Посмотреть историю транзакций</a>
            </div>
        </div>
    </div>
    @section scripts{
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

<script>
             $("#sendDataBtn").on("click", function () {
                if ($("#walletNumber").val().length == 0 || $("#moneyCount").val().length == 0) {
                    return alert("Заполните все поля формы!")
                }
                $.post('@Url.Action("DefaultTransfer", "Bank")',
                    {
                        walletNumber: $("#walletNumber").val(),
                        moneyCount: $("#moneyCount").val()
                    },
                    function (response) {
                        console.log(response)
                        if (response == 200) {
                            alert("Перевод успешно совершен")
                            $("#myMoney").text(Number($("#myMoney").text()) - Number($("#moneyCount").val()))
                        }
                        else {alert(response) }
                    }
                )
            });
            $("#getMoneyDataBtn").on("click", function () {
                 if ($("#getMoneyCount").val().length == 0) {
                    return alert("Заполните все поля формы!")
                }
                $.post('@Url.Action("GetMoney", "Bank")',
                    {
                        moneyCount: $("#getMoneyCount").val()
                    },
                    function (response) {
                        console.log(response)
                        if (response == 200) {
                            alert("Вы успешно сняли деньги со счёта!")
                            $("#myMoney").text(Number($("#myMoney").text()) - Number($("#getMoneyCount").val()))
                        }
                        else {alert(response) }
                    }
                )
            });
            $("#earnMoneyDataBtn").on("click", function () {
                if ($("#earnMoneyCount").val().length == 0) {
                    return alert("Заполните все поля формы!")
                }
                $.post('@Url.Action("AddMoney", "Bank")',
                    {
                        moneyCount: $("#earnMoneyCount").val()
                    },
                    function (response) {
                        console.log(response)
                        if (response == 200) {
                            alert("Баланс успешно пополнен")
                            $("#myMoney").text(Number($("#myMoney").text()) + Number($("#earnMoneyCount").val()))
                        }
                        else {alert(response) }
                    }
                )
            });
            var modal = document.getElementById("myModal");
            var getMoneyModal = document.getElementById("myModalGetMoney");
            var earnMoneyModal = document.getElementById("earnMoneyModal");

            var btn = document.getElementById("transferBtn");

            var span = document.getElementsByClassName("close")[0];
            var closeGetMoney = $("#closeGetMoney")
            var closeEarnMoney = $("#closeEarnMoney")

            $("#getMoneyBtn").on('click', function () {
                getMoneyModal.style.display = "block";
            });
            $("#earnMoneyBtn").on('click', function () {
                earnMoneyModal.style.display = "block";
            });

            btn.onclick = function () {
                modal.style.display = "block";
             };

            span.onclick = function () {
                modal.style.display = "none";
             };
            
            closeGetMoney.onclick = function () {
                 getMoneyModal.style.display = "none";
            };
            closeEarnMoney.onclick = function () {
                 earnMoneyModal.style.display = "none";
            };

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";

                }
                else if (event.target == getMoneyModal) {
                    getMoneyModal.style.display = "none";
                }
                else if (event.target == earnMoneyModal) {
                    earnMoneyModal.style.display = "none";
                }
            }
</script>

    }
</body>
</html>
